<template>
  <div id="app">
    <Pages/>
  </div>
</template>

<script>
import Pages from './components/Pages.vue'

export default {
  name: 'app',
  components: {
    Pages
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  margin-top: 60px;
}
</style>
<style>
    @import './assets/css/audio.css';
    @import './assets/css/bootstrap.css';
    @import './assets/css/easy-responsive-tabs.css';
    @import './assets/css/font-awesome.css';
    @import './assets/css/icon-font.css';
    /* @import './assets/css/jplayer.blue.monday.min.css'; */
    @import './assets/css/popuo-box.css';
    @import './assets/css/style.css';
</style>