<template>
<div>
<div class="inner-content">
					<div class="music-browse">
					<!--albums-->
						<div class="browse">
								<div class="tittle-head two">
									<h3 class="tittle">Albums &nbsp;<span class="new">New</span></h3>
									<a href="browse.html"><h4 class="tittle third">See all</h4></a>
									<div class="clearfix"> </div>
								</div>

								<div class="col-md-3 browse-grid" v-for="item in latestPlaylist" v-bind:key="item.playlistId">
									<router-link :to="{ path: '/playlist/'+item.playlistId}" >
												<img v-bind:src="'/banner/'+(item.bannerUrl?item.bannerUrl:'albums.jpg')" class="img-responsive" v-bind:title="item.description" alt> 
										</router-link>
									<router-link :to="{ path: '/playlist/'+item.playlistId}" ><i class="glyphicon glyphicon-play-circle"></i></router-link>
									<router-link :to="{ path: '/playlist/'+item.playlistId}" >{{item.description}}</router-link>
								</div>
							
											<div class="clearfix"> </div>
									</div>
					<!--//End-albums-->
							</div>
					</div>
</div>
</template>
<script>
import axios from 'axios';
export default {
	components:{},
	name: "Albums",
	data() {
		return {
			publicPath: process.env.BASE_URL,
			latestPlaylist:[]
		}
	},
	methods:{
		
	},
	mounted(){
		var $this=this;
		axios.get(this.$api+'/playlist/GetAllPlayListByLatest')
		.then(function(response){
			$this.latestPlaylist = response.data;
			});	
	}
	
};
</script>