<template>
<div>
<div class="inner-content">
					<div class="music-browse">
					<!--albums-->
						<div class="browse">
								<div class="tittle-head two">
									<h3 class="tittle">Favorite Albums <span class="new">★</span></h3>
									<router-link :to="{ path: '/albums'}">
									<h4 class="tittle">See all</h4>
									</router-link>
									<div class="clearfix"> </div>
								</div>

								<div class="col-md-3 browse-grid" v-for="item in favoritePlaylist" v-bind:key="item.playlistId">
									<router-link :to="{ path: '/playlist/'+item.playlistId}" >
												<img v-bind:src="'/banner/'+(item.bannerUrl?item.bannerUrl:'albums.jpg')" class="img-responsive" v-bind:title="item.description" alt> 
										</router-link>
									<router-link :to="{ path: '/playlist/'+item.playlistId}" ><i class="glyphicon glyphicon-play-circle"></i></router-link>
									<router-link :to="{ path: '/playlist/'+item.playlistId}" >{{item.description}}</router-link>
								</div>
							
											<div class="clearfix"> </div>
									</div>
					<!--//End-albums-->
							</div>
					</div>
</div>
</template>
<script>
import axios from 'axios';
export default {
	components:{},
	name: "Favorite",
	data() {
		return {
			publicPath: process.env.BASE_URL,
			favoritePlaylist:[]
		}
	},
	methods:{
		
	},
	mounted(){
		var $this=this;
		var authToken = localStorage.getItem('userToken');
			var config=  {
				headers: {
					Authorization: "Bearer " + authToken
				}
			}
		axios.get(this.$api+'/playlist/GetAllFavoritePlaylist',config)
		.then(function(response){
			$this.favoritePlaylist = response.data;
			});	
	}
	
};
</script>