<template>
	<div class="inner-content">
					<div class="music-left">
						<!--banner-section-->
						<div class="banner-section">
							<div class="banner">
								<div class="callbacks_container">
									<carousel :per-page="1" :navigation-enabled="true">
									<slide v-for="item in banners.data" v-bind:key="item.playlistId">
									<div class="banner-img">
										<router-link :to="{ path: '/playlist/'+item.playlistId}">
												<img v-bind:src="'/banner/'+item.bannerUrl" class="img-responsive" alt>
										</router-link>
									</div>
									</slide>
									
									
								</carousel>
								</div>
								<!--banner-->

								<div class="clearfix"></div>
							</div>
						</div>
						<!--//End-banner-->
						<!--albums-->
						<!-- pop-up-box -->

						<!--//pop-up-box -->
						<div class="albums">
							<div class="tittle-head">
								<h3 class="tittle">
									New Albums
									<span class="new">New</span>
								</h3>
								<router-link :to="{ path: '/albums'}">
									<h4 class="tittle">See all</h4>
								</router-link>
								<div class="clearfix"></div>
							</div>
							<div class="col-md-3 content-grid" v-for="item in latestPlaylist" v-bind:key="item.playlistId">
								<router-link :to="{ path: '/playlist/'+item.playlistId}" class="play-icon popup-with-zoom-anim">
												<i class="lnr lnr-music-note"></i>
										<span>{{item.description}}</span>
										</router-link>
								<router-link :to="{ path: '/playlist/'+item.playlistId}" class="button play-icon popup-with-zoom-anim">
										<span>Listen now</span>
										</router-link>
							</div>
							
							<div class="clearfix"></div>
						</div>
						<!--//End-albums-->
						<!--//discover-view-->

						
						<!--//discover-view-->
					</div>
					<!--//music-left-->
					<!--/music-right-->
					<div class="music-right">
						<!--/video-main-->
						<div class="video-main">
							<div class="video-record-list">
								<div
									id="jp_container_1"
									class="jp-video jp-video-270p"
									role="application"
									aria-label="media player"
								>
									<div class="jp-type-playlist">
										
										<div class="right-audio-player">
											<audio ref="playlist"  controls="controls">
												<source src="" type="audio/mpeg">
											</audio>
											<marquee-text :duration="10">{{currentPlaying}}</marquee-text>
										</div>
										<div class="jp-playlist">
											<ul style="display: block;">
												<li v-for="item in playlist.data" v-bind:key="item.trackId">
													<div>
														<a
															href="javascript:;"
															class="jp-playlist-item" v-on:click="selectTrack('/media/audio/'+item.url,item.description)"
														>
															{{item.description}}
															<span class="jp-artist">by Pixar</span>
														</a>
													</div>
												</li>
												
											</ul>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<!-- script for play-list -->

						<!-- //script for play-list -->

						<!--//video-main-->
						<!--/app_store-->
						
						<!--//app_store-->
						<!--/start-paricing-tables-->
						
					</div>
					<!--//music-right-->
					<div class="clearfix"></div>
					<!-- /w3l-agile-its -->
				</div>
				<!--body wrapper start-->
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
import axios from 'axios';
import MarqueeText from 'vue-marquee-text-component';
export default {
	components:{Carousel,Slide,MarqueeText},
	name: "HomePage",
	data() {
		return {
			publicPath: process.env.BASE_URL,
			latestPlaylist:[],
			playlist:[],
			banners:[],
			currentPlaying:"Select track to play"
		}
	},
	methods:{
		selectTrack:function(url,text){
			this.$refs.playlist.src=url;
			this.$refs.playlist.play();
			this.currentPlaying="Playing: "+text;
		}
	},
	mounted(){
		var $this=this;
		axios.get(this.$api+'/playlist/GetHomePlaylist')
		.then(function(response){
			$this.playlist = response;
			});
		axios.get(this.$api+'/playlist/HompagePlaylistBanners')
		.then(function(response){
			$this.banners = response;
			});
		axios.get(this.$api+'/playlist/GetAllPlayListByLatest')
		.then(function(response){
			$this.latestPlaylist = response.data;
			});	
	}
	
};
</script>
