<template>
	<section>
		<div class="sticky-header" v-bind:class="{'left-side-collapsed':!isShowLeftMenu}">
		<!-- left side start-->
		<div class="left-side sticky-left-side">
			<!--logo and iconic logo start-->
			<div class="logo">
				<h1>
					<a href="/">
						Music
						<span>Online</span>
					</a>
				</h1>
			</div>
			<div class="logo-icon text-center">
				<a href="/">M</a>
			</div>
			<!-- /w3l-agile -->
			<!--logo and iconic logo end-->
			<div class="left-side-inner">
				<!--sidebar nav start-->
				<ul class="nav nav-pills nav-stacked custom-nav">
					<li class="active">
						<a href="/">
							<i class="lnr lnr-home"></i>
							<span>Home</span>
						</a>
					</li>
					
					<li>
						<router-link :to="{ path: '/albums'}">
							<i class="lnr lnr-music-note"></i>
							<span>Albums</span>
						</router-link>
					</li>

					<li v-if="isLoggedIn">
						<router-link :to="{ path: '/favorite'}">
							<i class="lnr lnr-heart"></i>
							<span>My Favorite</span>
						</router-link>
					</li>
					
				</ul>
				<!--sidebar nav end-->
			</div>
		</div>
		<!-- /w3layouts-agile -->
		<!-- app-->
		
		<!-- //app-->
		<!-- /w3l-agile -->
		<!-- signup -->
		<div
			v-if="isOpen"
		>
			<transition name="modal">
			<div v-if="isOpen">
				<div class="overlay" >
				<div class="modalvue coment-form sign-right">
					<form @submit="checkRegisterForm">
						<h3>Create your account</h3>
						<p class="error" v-if="rErrors.length">
							<ul>
								<li v-for="error in rErrors" v-bind:key="error">{{ error }}</li>
							</ul>
						</p>
						<input
							type="text"
							placeholder="Email"
							v-model="rEmail"
						>
						<input
							type="password"
							placeholder="Enter password"
							v-model="rPassword"
						>

						<input
							type="password"
							placeholder="Re-type password"
							v-model="rRePassword"
						>
						
						<input type="submit" value="Create Account">
						<button type="button" class="close" @click="isOpen = false;">
								<span>Cancel</span>
						</button>
						
					</form>
				</div>
				</div>
			</div>
			</transition>
		</div>
		<!-- //signup -->
		<!-- /w3l-agile -->
		<!-- left side end-->
		<!-- main content start-->
		<div class="main-content">
			<!-- header-starts -->
			<div class="header-section">
				<!--toggle button start-->
				<a class="toggle-btn menu-collapsed" v-on:click="isShowLeftMenu=!isShowLeftMenu">
					<i class="fa fa-bars"></i>
				</a>
				<!--toggle button end-->
				<!--notification menu start -->
				<div class="menu-right">
					<div class="profile_details">
						<div class="col-md-4 serch-part">
							<div id="sb-search" class="sb-search" v-bind:class="{'sb-search-open':isShowSearchBar}" v-on:click="isShowSearchBar=!isShowSearchBar">
								<form action="#" method="post">
									<input
										class="sb-search-input"
										placeholder="Search"
										type="search"
										name="search"
										id="search"
									>
									<input class="sb-search-submit" type="button" >
									<span class="sb-icon-search"></span>
								</form>
							</div>
						</div>

						<!---->
						<div class="col-md-4 player">
							<div class="audio-player">
								<audio id="audio-player" ref="topPlayList"  controls="controls">
									<source src="/media/audio/Bad Romance.mp3" type="audio/mpeg">
								</audio>
							</div>
							<!---->

							<!--audio-->
							<!---->

							<!--//-->
							<ul class="next-top">
								<li>
									<a class="ar" href="#">
										<img src="images/arrow.png" alt>
									</a>
								</li>
								<li>
									<a class="ar2" href="#">
										<img src="images/arrow2.png" alt>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-md-4 login-pop">
							<div id="loginpop">
								<a href="#" id="loginButton" @click="isShowLoginForm=!isShowLoginForm">
									<span>
										{{loginOrUserName}}
										<i class="arrow glyphicon glyphicon-chevron-right"></i>
									</span>
								</a>
								<a v-if="isLoggedIn" class="top-sign" @click="logout" href="#" >
									<i class="fa fa-sign-in"></i>
								</a>
								<a v-else class="top-sign-register" href="#" @click="isOpen=!isOpen">
									<span>
										Register
										<i class="arrow glyphicon glyphicon-chevron-right"></i>
									</span>
								</a>
								
								<div id="loginBox" v-bind:style="[isShowLoginForm&&!isLoggedIn?{display:'block'}:{display:'none'}]">
									<form action="#" method="post" id="loginForm" @submit="checkForm">
										<p class="error" v-if="errors.length">
											<ul>
											<li v-for="error in errors" v-bind:key="error">{{ error }}</li>
											</ul>
										</p>
										<fieldset id="body">
											<fieldset>
												<label for="email">Email Address</label>
												<input type="text" name="email" id="email" v-model="email">
											</fieldset>
											<fieldset>
												<label for="password">Password</label>
												<input type="password" name="password" id="password" v-model="password">
											</fieldset>
											<input type="submit" id="login" value="Sign in">
											<label for="checkbox">
												<input type="checkbox" id="checkbox" v-model="rememberMe">
												<i>Remember me</i>
											</label>
										</fieldset>
										<!-- <span>
											<a href="#">Forgot your password?</a>
										</span> -->
									</form>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<!-------->
				</div>
				<div class="clearfix"></div>
			</div>
			<!--notification menu end -->
			<!-- //header-ends -->
			<!-- /w3l-agileits -->
			<!-- //header-ends -->
			<div id="page-wrapper">
				<router-view></router-view>

				
			</div>
			<div class="clearfix"></div>
			<!--body wrapper end-->
			<!-- /w3l-agile -->
		</div>
		<!--body wrapper end-->
		
		<!--footer section end-->
		<!-- /w3l-agile -->
		<!-- main content end-->
		
		</div>
	</section>
</template>
<script>
import axios from 'axios';
import decode from 'jwt-decode'; 
export default {
	name: "Pages",
	data() {
		return {
			isShowLeftMenu:false,
			isShowSearchBar:false,
			isShowLoginForm:false,
			email:null,
			password:null,
			rememberMe:false,
			errors:[],
			rErrors:[],
			isOpen: false,
			rEmail:null,
			rPassword:null,
			rRePassword:null,
			loginOrUserName:"Login",
			isLoggedIn:false
		}
	},
	mounted(){
		this.showLoginOrUserName();
	},
	methods:{
		logout:function(){
			if(localStorage.getItem('userToken')){
				localStorage.removeItem('userToken');
				window.location.href="/"; //do full redirect to reload master
			}
		},
		showLoginOrUserName:function(){
			var authToken = localStorage.getItem('userToken');
			if(authToken){
				var dt=decode(authToken);
				this.loginOrUserName = dt.email;
				this.isLoggedIn=true;
			}else{
				this.loginOrUserName="Login";
				this.isLoggedIn=false;
			}   		
		},
		checkForm: function (e) {
			this.errors = [];
			
			if (!this.email) {
				this.errors.push('Email required.');
			} else if (!this.validEmail(this.email)) {
				this.errors.push('Valid email required.');
			}
			if (!this.password) {
				this.errors.push("Password required.");
			}
			if (!this.errors.length) {
				this.loginUser();
			}

			e.preventDefault();
		},
		checkRegisterForm: function (e) {
			this.rErrors = [];
			
			if (!this.rEmail) {
				this.rErrors.push('Email required.');
			} else if (!this.validEmail(this.rEmail)) {
				this.rErrors.push('Valid email required.');
			}
			if (!this.rPassword) {
				this.rErrors.push("Password required.");
			}
			if (!this.rRePassword) {
				this.rErrors.push("Password confirmation required.");
			}else{
				if(this.rRePassword!=this.rPassword){
					this.rErrors.push("Password confirmation do not match.");
				}
			}
			if (!this.rErrors.length) {
				this.registerUser();
			}

			e.preventDefault();
		},
		validEmail: function (email) {
			// eslint-disable-next-line 
			var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return re.test(email);
		},
		loginUser: function(){
			var $this=this;
			var data = {Email:this.email,Password:this.password,RememberMe:this.rememberMe};
			$this.loginAction(data);
		},
		loginAction:function(data){
			var $this=this;
			axios.post(this.$api+'/account/login',data)
			.then(function(response){
				localStorage.setItem('userToken', response.data.tokenString);
					window.location.href="/";//do full redirect to reload master
				})
			.catch(function(rerr){
				var err=rerr.response;
				$this.errors=[];
				if (err.status === 400) {
					// handle validation error
					var ers=err.data[""]
					for (var fieldName in ers) {
						if (ers.hasOwnProperty(fieldName)) {
							$this.errors.push(ers[fieldName]);
						}
					}
				} else {
					$this.errors.push("something went wrong!");
				}
			});		
		},
		registerUser:function(){
			var $this=this;
			var data = {Email:$this.rEmail,Password:$this.rPassword,ConfirmPassword:$this.rRePassword};
			axios.post(this.$api+'/account/Register',data)
			.then(function(){
				var logindata = {Email:$this.rEmail,Password:$this.rPassword,RememberMe:false};
				$this.loginAction(logindata);
			})
			.catch(function(rerr){
				var err=rerr.response;
				$this.rErrors=[];
				if (err.status === 400) {
					// handle validation error
					var ers=err.data[""]
					for (var fieldName in ers) {
						if (ers.hasOwnProperty(fieldName)) {
							$this.rErrors.push(ers[fieldName]);
						}
					}
				} else {
					$this.rErrors.push("something went wrong!");
				}
			});	
		}
	}
	
};
</script>