<template>
<div class="inner-content single">
		<div class="tittle-head">
									<h3 class="tittle" @click="toggleToMyFavorite">{{playlistName}}&nbsp;<span v-if="isLoggedIn"  class="new">{{favoriteStatus}}</span></h3>
									<div class="clearfix"> </div>
								</div>
								<div class="single_left">
									<div class="video-main">
									<div class="video-record-list">
										<div id="jp_container_1" class="jp-video jp-video-270p" role="application" aria-label="media player">
											<div class="jp-type-playlist">
												<div class="right-audio-player">
													<audio ref="playlist"  controls="controls">
														<source src="" type="audio/mpeg">
													</audio>
													<marquee-text :duration="10">{{currentPlaying}}</marquee-text>
												</div>
												<div class="jp-playlist">
													<ul style="display: block;">
														<li v-for="item in playlist" v-bind:key="item.trackId">
															<div>
																<a
																	href="javascript:;"
																	class="jp-playlist-item" v-on:click="selectTrack('/media/audio/'+item.url,item.description)"
																>
																	{{item.description}}
																	<span class="jp-artist">by Pixar</span>
																</a>
															</div>
														</li>
														
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
				</div>
				<div class="response">
					<h4>Responses</h4>
					<div v-for="cm in commentList" v-bind:key="cm.commentId" class="media response-info">
						<div class="media-left response-text-left">
							<h5><a >{{cm.userName||cm.email}}</a></h5>
						</div>
						<div class="media-body response-text-right">
							<p>{{cm.description}}</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
					<div v-if="isLoggedIn" class="coment-form">
					<h4>Leave your comment</h4>
					<form @submit="postComment">
						<textarea placeholder="Your Comment..." required="" v-model="comment"></textarea>
						<input type="submit" value="Submit Comment">
					</form>
					</div>
			</div>
</template>
<script>
import axios from 'axios';
import MarqueeText from 'vue-marquee-text-component';
import decode from 'jwt-decode'; 
export default {
	components:{MarqueeText},
	name: "Playlist",
	data() {
		return {
			publicPath: process.env.BASE_URL,
			playlist:[],
			currentPlaying:"Select track to play",
			playlistName:'',
			favoriteStatus:'Add to my favorite',
			isLoggedIn:false,
			comment:'',
			commentList:[]
		}
	},
	methods:{
		postComment:function(e){
			if(this.comment){
				var $this=this;
				var authToken = localStorage.getItem('userToken');
					var config=  {
						headers: {
							Authorization: "Bearer " + authToken
						}
					}
				var data={PlaylistId:$this.$route.params.id,Description:this.comment};
				axios.post(this.$api+'/playlist/PostPlaylistComment',data,config)
				.then(function(response){
						$this.commentList = response.data;
						$this.comment='';
					});	
			}
			e.preventDefault();
		},
		selectTrack:function(url,text){
			this.$refs.playlist.src=url;
			this.$refs.playlist.play();
			this.currentPlaying="Playing: "+text;
		},
		toggleToMyFavorite:function(){
			var $this=this;
			var authToken = localStorage.getItem('userToken');
			var config=  {
				headers: {
					Authorization: "Bearer " + authToken
				}
			}
			var data = {PlaylistId:this.$route.params.id};
			axios.post(this.$api+'/playlist/ToggleToMyFavorite',data,config)
			.then(function(r){
				$this.favoriteStatus=r.data;
			})
		}
	},
	mounted(){
		var $this=this;
		$this.isLoggedIn=localStorage.getItem('userToken')?true:false;
		var authToken = localStorage.getItem('userToken');
		var url=this.$api+'/playlist/GetPlayListById/'+$this.$route.params.id;
		if(authToken){
			var tokenPayload=decode(authToken);
			url+='?userid='+tokenPayload.sid;
		}
		axios.get(url)
		.then(function(response){
			$this.playlist = response.data.manyTrackLists;
			$this.playlistName = response.data.description;
			$this.favoriteStatus = response.data.playlistFavoriteStatus;
			$this.commentList=response.data.comments;
			});
		
	}
	
};
</script>